.logo {
  width: 250px;
}
.logo-footer {
  width: 235px;
}
.b-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;

  border: 0;
  color: #2f4d5f;
  background: transparent;
  border-bottom: 1px solid #3B5F74;

  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%233B5F74'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 14px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
}
.b-select:focus {
  background: transparent;
  outline: none;
}
.font {
  font-family: 'Londrina Solid', cursive;
  color: #3B5F74;
}
p,h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.navbar-brand {
  font-size: 2em;
}
.blue {
    background-image: url('../images/blue_bg.png');
}
.hero {
  padding-top: 5.25em;
}
.hero-img {
  padding: 1rem 0 0;
  margin-bottom: -1.25rem;
}
.hero-blurb {
  font-weight: 300;
  line-height: 1.5;
}
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  font-weight: 200;
  letter-spacing: 1px;
}
.ships {
  font-weight: 500;
  color: #3B5F74;
}
.form-control {
  border-radius: 0;
}

.b-btn {
  background: #3B5F74;
  border-color: #3B5F74;
  border-radius: 0;
  color: #ffffff;
  font-family: 'Londrina Solid', cursive;
  font-size: 24px;
}
.b-btn:hover {
  color: #fff;
  background-color: #5e89a2;
  border-color: #5e89a2;
}
.stripe-button-el {
  width: 100%;
  padding: 10px;
  border-radius: 0;
  background: #3B5F74;
}
.stripe-button-el span {
  display: block;
  min-height: 30px;
  background: #3B5F74;
  box-shadow: none;
  font-family: 'DK-Canoodle-Regular';
  font-size: 24px;
}
.b-nav {
  font-size: 24px;
}
.b-nav a {
  font-size: 24px;
  color: #3b5e74;
}
.b-nav a:hover {
  color: #5e89a2;
  text-decoration: none
}
.b-nav:hover {
  color: #5e89a2;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer h3 {
  font-size: 42px;
}
.footer ul {
  margin-bottom: 0;
}
.footer ul li {
  margin-top: .5rem;
}
.test-shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25)
}
  @media (min-width: 576px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media(min-width: 992px) {
    .logo {
      width: 425px;
    }
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }
    .order-form {
      margin-right: 2rem;
    }
    .card-shadow {
      -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.17);
      -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.17);
      box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.17);
    }
    .footer {
      flex-direction: row;
    }
  }
  @media(min-width: 1200px){
    .order-form {
      margin-right: 15rem;
    }
  }

#mainNav.navbar-shrink {
  border-color: rgba(34, 34, 34, 0.1);
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.13);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.13);
}