<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:400,900|Roboto+Condensed:700|Roboto:300,400" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick/slick-theme.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-16x16.png') }}" sizes="16x16" />
  <title>B is for Bitcoin</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light  fixed-top" id="mainNav">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <span class="font logo">
        <img class="img-fluid logo" src="{{ url_for('static', filename='images/bitcoin_logo.svg') }}" alt="B is fot Bitcoin Roller Coaster">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon ml-auto"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 mr-4">
        <li class="nav-item">
          <a class="nav-link" href="#about">
            <span class="font b-nav">About the book</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">
            <span class="font b-nav">Testimonials</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid blue" id="top">
    <div class="row hero">
      <section class="col-md-6 d-flex align-items-center">
        <div>
          <h3 class="hero-blurb my-4">A lovingly written and illustrated children's primer on Bitcoin from Algorithm to Zero knoweldge proof.</h3>
          <p class="font-italic font-bold">All profits from the pre-sale go to support early childhood education programs.</p>
          <form class="order-form" action="/charge" method="post">
            <div class="form-group">
              <select class="form-control b-select" name="bookAmount" id="mySelect">
                <option value="2500">1 copy for yourself (I mean your child)</option>
                <option value="2500">2 for you and a friend</option>
                <option value="12500">5 for your startup</option>
                <option value="25000">10 for all the cousins</option>
                <option value="50000">20 as holiday presents</option>
                <option value="125000">50 for all your partners</option>
                <option value="250000">100 for everyone you know!!!</option>
              </select>
            </div>
            <input type="hidden" id="stripeToken" name="stripeToken" />
            <input type="hidden" id="stripeEmail" name="stripeEmail" />
            <input type="hidden" id="stripeTokenType" name="stripeTokenType" />

            <input type="hidden" id="stripeBillingName" name="stripeBillingName" />
            <input type="hidden" id="stripeBillingAddressCountry" name="stripeBillingAddressCountry" />
            <input type="hidden" id="stripeBillingAddressCountryCode" name="stripeBillingAddressCountryCode" />
            <input type="hidden" id="stripeBillingAddressZip" name="stripeBillingAddressZip" />
            <input type="hidden" id="stripeBillingAddressLine1" name="stripeBillingAddressLine1" />
            <input type="hidden" id="stripeBillingAddressCity" name="stripeBillingAddressCity" />
            <input type="hidden" id="stripeBillingAddressState" name="stripeBillingAddressState" />

            <input type="hidden" id="stripeShippingName" name="stripeShippingName" />
            <input type="hidden" id="stripeShippingAddressCountry" name="stripeShippingAddressCountry" />
            <input type="hidden" id="stripeShippingAddressCountryCode" name="stripeShippingAddressCountryCode" />
            <input type="hidden" id="stripeShippingAddressZip" name="stripeShippingAddressZip" />
            <input type="hidden" id="stripeShippingAddressLine1" name="stripeShippingAddressLine1" />
            <input type="hidden" id="stripeShippingAddressCity" name="stripeShippingAddressCity" />
            <input type="hidden" id="stripeShippingAddressState" name="stripeShippingAddressState" />

            <script src="https://checkout.stripe.com/checkout.js"></script>

            <input type="submit" id="customButton" class="btn btn-block b-btn" value="Buy Now!">

            <script>
              var handler = StripeCheckout.configure({
                key: "{{ key }}",
                token: function (token, args) {
                  $("#stripeToken").val(token.id);
                  $("#stripeEmail").val(token.email);
                  $("#stripeTokenType").val(token.type);

                  $("#stripeBillingName").val(args.billing_name);
                  $("#stripeBillingAddressCountry").val(args.billing_address_country);
                  $("#stripeBillingAddressCountryCode").val(args.billing_address_country_code)
                  $("#stripeBillingAddressZip").val(args.billing_address_zip)
                  $("#stripeBillingAddressState").val(args.billing_address_state)
                  $("#stripeBillingAddressLine1").val(args.billing_address_line1)
                  $("#stripeBillingAddressCity").val(args.billing_address_city)

                  $("#stripeShippingName").val(args.shipping_name);
                  $("#stripeShippingAddressCountry").val(args.shipping_address_country);
                  $("#stripeShippingAddressCountryCode").val(args.shipping_address_country_code)
                  $("#stripeShippingAddressZip").val(args.shipping_address_zip)
                  $("#stripeShippingAddressState").val(args.shipping_address_state)
                  $("#stripeShippingAddressLine1").val(args.shipping_address_line1)
                  $("#stripeShippingAddressCity").val(args.shipping_address_city)

                  $(".order-form").submit()
                }
              });

              document.getElementById('customButton').addEventListener('click', function (e) {

                var option = document.getElementsByTagName("option");
                var x = document.getElementById("mySelect").selectedIndex;

                handler.open({
                  name: 'B is For BitCoin',
                  description: "B is for Bitcoin",
                  image: "{{ url_for('static', filename='images/b_coaster.png') }}",
                  zipCode: true,
                  billingAddress: true,
                  shippingAddress: true,
                  amount: parseInt(option[x].value)
                });
                e.preventDefault();
                console.log("Hit the button!")
              });
              console.log("Middle Part!!!!!!!!")
              // Close Checkout on page navigation:
              window.addEventListener('popstate', function () {
                console.log("Finished!!!!!")
                handler.close();
              });
            </script>

          </form>
          <p>
            <small class="ships">Ships with love from San Francisco in July</small>
          </p>
        </div>
      </section>
      <section class="col-md-6 hero-img">
        <img class="img-fluid" src="{{ url_for('static', filename='images/b_coaster.png') }}" alt="B is fot Bitcoin Roller Coaster">
      </section>
    </div>
  </div>
  <!-- </div> -->

  <div class="container-fluid" id="about">
    <div class="row pt-5 pb-2 d-flex align-items-center">
      <section class="col-md-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/b_fort.png') }}" alt="B is fot Bitcoin Fort">
      </section>
      <section class="col-md-6 d-flex align-items-center">
        <div>
          <h2 class="font">Profits go to supporting early childhood education</h2>
          <p>Before having our first child, I didn't personally appreciate the critical importance of early childhood education.
            Now I do. If you buy B for Bitcoin know that all the profits from the book are going to early childhood education
            non-profits</p>
        </div>
      </section>
    </div>

    <div class="row pt-1 pb-5">
      <section class="col-md-6 offset-md-3">
        <h2 class="font text-center mt-5 mb-3">Learn more about the book... </h2>
        <div class="embed-responsive embed-responsive-16by9 shadow-lg">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tm8LGxTLtQk" frameborder="0" allowfullscreen></iframe>
        </div>
      </section>
    </div>
  </div>

  <div class="container my-5" id="testimonials">
    <div class="row text-center">
      <h2 class="font col-md-12">See what our readers are saying!</h2>
    </div>
    <div class="row pt-3 pb-5  slick-slider">
      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Don't trust your 2 year old with your private keys until she has read this”</p>
            <div class="d-flex align-items-center">
              <img src="{{ url_for('static', filename='images/dk.png') }}" alt="Picture of person" class="rounded-circle mr-4 img-fluid">
              <span>
                <p>David King
                  <br>Founder, Curious Conversations</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“D is for Delightful. This is the single best crypto primer ever written…for toddlers.”</p>
            <div class="d-flex align-items-center">
              <img src="{{ url_for('static', filename='images/woman_profile.jpg') }}" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Aryeh Bourkoff
                  <br>Founder, Liontree</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Meditation pug polaroid, brunch craft beer gluten-free snackwave franzen taiyaki. Polaroid next level readymade
              vexillologist lyft microdosing. Health goth keffiyeh polaroid wolf.”</p>
            <div class="d-flex align-items-center">
              <img src="{{ url_for('static', filename='images/woman_profile.jpg') }}" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Samantha T. Farmer
                  <br> Mother of 2</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Meditation pug polaroid, brunch craft beer gluten-free snackwave franzen taiyaki. Polaroid next level readymade
              vexillologist lyft microdosing. Health goth keffiyeh polaroid wolf.”</p>
            <div class="d-flex align-items-center">
              <img src="{{ url_for('static', filename='images/woman_profile.jpg') }}" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Samantha T. Farmer
                  <br> Mother of 2</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Meditation pug polaroid, brunch craft beer gluten-free snackwave franzen taiyaki. Polaroid next level readymade
              vexillologist lyft microdosing. Health goth keffiyeh polaroid wolf.”</p>
            <div class="d-flex align-items-center">
              <img src="{{ url_for('static', filename='images/woman_profile.jpg') }}" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Samantha T. Farmer
                  <br> Mother of 2</p>
              </span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>



  <div class="container-fluid">
    <footer class="border-top py-3 footer">
      <img class="img-fluid logo-footer" src="{{ url_for('static', filename='images/bitcoin_logo.svg') }}" alt="B is fot Bitcoin Roller Coaster">
      <ul class="list-unstyled">
        <li class="list-inline-item font b-nav">
          <a href="#about">About the book</a>
        </li>
        <li class="list-inline-item font b-nav">
          <a href="#testimonials">Testimonials</a>
        </li>
        <li class="list-inline-item font">
          <a href="#top" class="btn b-btn">Buy Now!</a>
        </li>
      </ul>
    </footer>
  </div>



  <!-- Core Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Slick Slider -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/slick/slick.min.js') }}"></script>

  <!-- Main Landing Page JavaScript File   -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>