<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slick/slick-theme.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>B is for Bitcoin</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light  fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">
      <span class="font logo">B is for Bitcoin</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon ml-auto"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 mr-4">
        <li class="nav-item">
          <a class="nav-link" href="#about">
            <span class="font b-nav">About the book</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#testimonials">
            <span class="font b-nav">Testimonials</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid blue" id="top">
    <div class="row hero">
      <section class="col-md-6 d-flex align-items-center">
        <div>
          <h3 class="hero-blurb my-4">A lovingly written and illustrated children's primer on Bitcoin from Algorithm to Zero knoweldge proof.</h3>
          <form class="order-form" action="/charge" method="post">
            <div class="form-group">
              <select class="form-control b-select" name="bookAmount">
                <option value="2500">1 copy for yourself (I mean your child)</option>
                <option value="2500">2 for you and a special friend</option>
                <option value="12500">5 for your startup</option>
                <option value="25000">10 for all the cousins</option>
                <option value="50000">20 as holiday presents</option>
                <option value="125000">50 for all your partners</option>
                <option value="250000">100 for everyone you know!!!</option>
              </select>
            </div>

            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{ key }}" data-description="B is for Bitcoin"
              data-amount="500" data-locale="auto" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-billing-address=True data-shipping-address=True></script>
          </form>
          <p>
            <small class="ships">Ships with love from San Francisco in 3-5 days</small>
          </p>
        </div>
      </section>
      <section class="col-md-6 hero-img">
        <img class="img-fluid" src="{{ url_for('static', filename='images/test1.png') }}" alt="B is fot Bitcoin Roller Coaster">
      </section>
    </div>
  </div>
  <!-- </div> -->

  <div class="container-fluid" id="about">
    <div class="row pt-5 pb-2 d-flex align-items-center">
      <section class="col-md-6">
        <img class="img-fluid" src="{{ url_for('static', filename='images/test.png') }}" alt="B is fot Bitcoin Roller Coaster">
      </section>
      <section class="col-md-6 d-flex align-items-center">
        <div>
          <h2 class="font">Section that talks about the book and charity.</h2>
          <p>Poutine listicle leggings, pitchfork glossier skateboard wayfarers lomo thundercats neutra bespoke. Blog tofu tacos
            vaporware, vinyl art party fixie umami marfa lumbersexual. Beard lomo wayfarers, forage typewriter +1 live-edge.
            Artisan tilde chambray, before they sold out letterpress distillery kickstarter bespoke umami poutine gastropub
            tousled keytar. Cold-pressed iceland single-origin coffee quinoa raclette tumblr pabst chartreuse +1 polaroid
            next level.</p>
        </div>
      </section>
    </div>

    <div class="row pt-1 pb-5">
      <section class="col-md-6 offset-md-3">
        <h2 class="font text-center mt-5 mb-3">Video Section goes here!!!!!!</h2>
        <div class="embed-responsive embed-responsive-16by9 shadow-lg">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Tm8LGxTLtQk" frameborder="0" allowfullscreen></iframe>
        </div>
      </section>
    </div>
  </div>

  <div class="container my-5" id="testimonials">
    <div class="row text-center">
      <h2 class="font col-md-12">See what our readers are saying!</h2>
    </div>
    <div class="row pt-3 pb-5  slick-slider">
      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Meditation pug polaroid, brunch craft beer gluten-free snackwave franzen taiyaki. Polaroid next level readymade
              vexillologist lyft microdosing. Health goth keffiyeh polaroid wolf.”</p>
            <div class="d-flex align-items-center">
              <img src="http://via.placeholder.com/55x55" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Samantha T. Farmer
                  <br> Mother of 2</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Meditation pug polaroid, brunch craft beer gluten-free snackwave franzen taiyaki. Polaroid next level readymade
              vexillologist lyft microdosing. Health goth keffiyeh polaroid wolf.”</p>
            <div class="d-flex align-items-center">
              <img src="http://via.placeholder.com/55x55" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Samantha T. Farmer
                  <br> Mother of 2</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Meditation pug polaroid, brunch craft beer gluten-free snackwave franzen taiyaki. Polaroid next level readymade
              vexillologist lyft microdosing. Health goth keffiyeh polaroid wolf.”</p>
            <div class="d-flex align-items-center">
              <img src="http://via.placeholder.com/55x55" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Samantha T. Farmer
                  <br> Mother of 2</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Meditation pug polaroid, brunch craft beer gluten-free snackwave franzen taiyaki. Polaroid next level readymade
              vexillologist lyft microdosing. Health goth keffiyeh polaroid wolf.”</p>
            <div class="d-flex align-items-center">
              <img src="http://via.placeholder.com/55x55" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Samantha T. Farmer
                  <br> Mother of 2</p>
              </span>
            </div>
          </div>
        </div>
      </section>

      <section class="col-sm-12 col-md-4">
        <div class="card">
          <div class="card-body">
            <p class="border-bottom py-3">“Meditation pug polaroid, brunch craft beer gluten-free snackwave franzen taiyaki. Polaroid next level readymade
              vexillologist lyft microdosing. Health goth keffiyeh polaroid wolf.”</p>
            <div class="d-flex align-items-center">
              <img src="http://via.placeholder.com/55x55" alt="Picture of person" class="rounded-circle mr-4">
              <span>
                <p>Samantha T. Farmer
                  <br> Mother of 2</p>
              </span>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>



  <div class="container-fluid">
    <footer class="border-top py-3 footer">
      <h3 class="font footer-header">B is for Bitcoin</h3>
      <ul class="list-unstyled">
        <li class="list-inline-item font b-nav">
          <a href="#about">About the book</a>
        </li>
        <li class="list-inline-item font b-nav">
          <a href="#testimonials">Testimonials</a>
        </li>
        <li class="list-inline-item font">
          <a href="#top" class="btn b-btn">Buy Now!</a>
        </li>
      </ul>
    </footer>
  </div>



  <!-- Core Bootstrap Javascript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  <!-- Slick Slider -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/slick/slick.min.js') }}"></script>

  <!-- Main Landing Page JavaScript File   -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>